<h2>Hello,</h2>
<p>We have ABA error for week from <b><%= @week.start_date.strftime('%-d %B %Y') %></b> to <b><%= @week.end_date.strftime('%-d %B %Y') %></b>.
<p>Error details: </p>
<p><pre><%= @meta.html_safe %></pre></p>
<p>Have a great day!</p>
