<h2>Hello, <%= @invoice.team.name %></h2>
<p>Here is your invoice for period from <b><%= @invoice.week.start_date.strftime('%-d %B %Y') %></b> to <b><%= @invoice.week.end_date.strftime('%-d %B %Y') %></b>.</p>
<p>Have a great day!</p>
