<h2>Hello,</h2>
<p>We have processing error for week from <b><%= @week.start_date.strftime('%-d %B %Y') %></b> to <b><%= @week.end_date.strftime('%-d %B %Y') %></b>. Some teams have missing banking details (BSB or Account number). Please log in and fix issues, then click process to continue.</p>
<p>Have a great day!</p>
