<h2>Hello,</h2>
<p>Week from <b><%= @week.start_date.strftime('%-d %B %Y') %></b> to <b><%= @week.end_date.strftime('%-d %B %Y') %></b> was successfully processed.</p>
<p>No payments due.</p>
<p>Have a great day!</p>
