<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="x-logo"><%= image_tag "devise-logo.png" %></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui large form"}) do |f| %>
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "E-mail address" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Password" %>
          </div>
        </div>
        <button class="ui brown basic button" type="submit">Login</button>
      </div>
    <% end %>
  </div>
</div>
