@import "semantic";

body, html {
  min-height: 100%;
  position: relative;
}

.x-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  transform: translate(-50%, -50%);
}

.x-logo {
  width: 170px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.i-logo {
  display: block;
  height: 20px;
  width: 170px;
  background: image-url("header-logo.png") no-repeat 50% 50%/contain;
}


.edit-team {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #cf0000;
  float: right;
  opacity: 0.5;
  transition: all 0.2s ease-out;

  &:hover {
    color: #cf0000;
    opacity: 1;
  }
}
